/* FIX to hide the Field Label of the collection type */
.collection_wrapper .field-collection > label:first-child {
    display: none;
}

/* FIX so the calendar event are not shrinked when clicked */
.fc-agendaWeek-view a:active {
    position: absolute !important;
}

.fc-view-container .unavailable:hover {
    cursor: pointer !important;
}

