# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #router
    router.request_context.host: cliniquecoderre.com
    router.request_context.scheme: http
    router.request_context.base_url: /

    #Mailgun
    mailgun_key: "key-f134f0f597e2abe169e3ae2cbd081bc3"
    mailgun_domain: "sandbox1762d322d00b43cf95d08ef04f8151fc.mailgun.org"
    mailgun_from: info@sandbox1762d322d00b43cf95d08ef04f8151fc.mailgun.org

    #wkhtmltopdf
    wlhtmltopdf_path: "\"C:\\Program Files\\wkhtmltopdf\\bin\\wkhtmltopdf.exe\""
    wlhtmltoimg_path: "\"C:\\Program Files\\wkhtmltopdf\\bin\\wkhtmltoimage.exe\""

    #twilio
    twilio_from_phone: '+12892747067'
    vresh_twilio_sid: AC75f34ca68fdf6a4aef16a6ead523152d
    vresh_twilio_authToken: 8e663558b95c976d258d30b74252a7a5
    vresh_twilio_version: 2010-04-01
    vresh_twilio_retryAttempts: 3