{% block subject %}
    {% autoescape false %}
        Ceci est mon sujet
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
        {{ 'resetting.email.message'|trans }}
        <a href="{{ confirmationUrl }}">Cliquez ici pour modifier votre mot de passe!</a>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
