{#
{% block subject %}
    {% autoescape false %}
        Cliniquecoderre.com - Confirmation de courriel
    {% endautoescape %}
{% endblock %}
#}
{% block body_text %}
    {% autoescape false %}
        {{ 'resetting.email.message'|trans }}
        <br />
        <br />
        <a href="{{ confirmationUrl }}">{{ 'resetting.email.message'|trans }}</a>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
